a {
  color: var(--primaryBgColor);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-decoration-line: underline;
  margin-bottom: 20px;
}

a:last-child {
    margin-bottom: 0;
}
