.App {
  text-align: center;
  background-color: rgba(20, 20, 20);
  width: 100%;
  height: 100vh;
  /* border: 1px solid green; */
}
.primary-text-color {
  color: '#fafafa';
}

.App::-webkit-scrollbar {
  width: 0px;
}
