.App {
  text-align: center;
  background-color: rgba(20, 20, 20);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.primary-text-color {
  color: '#fafafa';
}

.App::-webkit-scrollbar {
  width: 0px;
}
