.App {
  text-align: center;
  background-color: rgba(20, 20, 20);
}
.primary-text-color {
  color: '#fafafa';
}

.App::-webkit-scrollbar {
  width: 0px;
}

.toast-success {
  width: 30%;
  height: 2px !important;
  margin: 0 auto;
  font-size: 12px !important;
  border-radius: 18px !important;
  color: #fafafa !important;
  background-color: #212121 !important;
}
.Toastify__close-button {
  display: none;
}
.Toastify__close-button--default {
  display: none;
}
