@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* hiding scrollbar in chrome */
::-webkit-scrollbar {
  /* display: none; */
  width: 1px;
  opacity: 0;
}
/* hiding scrollbar in firefox */
*,
html,
body {
  scrollbar-width: none;
}
/* getting font family */
/* @font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
} */

/* creating classess for font family we just imported above */
.font-face-robotoB {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.font-face-robotoR {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

:root {
  --primaryBackground: #2e9b9b;
  --primaryText: #fafafa;
  --boxShadowColor: rgba(46, 155, 155, 0.1);
  --tooltipColor: #333333;
  --tooltipBorderColor: #606060;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 550px) {
  html {
    font-size: 23px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 14px;
  }
}

body {
  width: 357px;
  min-height: 600px;
  max-height: 870px;
  font-size: 16ox;
  margin: 0 auto;
  background-color: rgba(20, 20, 20);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-bg-color {
  background: radial-gradient(
      40.36% 71% at 18.57% 29%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 79.17%,
      rgba(255, 255, 255, 0) 96.87%
    ),
    radial-gradient(
      89.64% 128.83% at 22.5% 26%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(20, 20, 20, 0) 67.09%,
      rgba(20, 20, 20, 0) 100%
    ),
    var(--primaryBackground) !important;
  box-shadow: 0px 0px 20px 5px rgba(33, 154, 154, 0.14) !important;
}

.secondary-bg-color {
  background-color: greenyellow;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -4.2rem;
}

.btn-end {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

::placeholder {
  color: #fafafa;
  opacity: 0.6; /* Firefox */
}

input:focus {
  outline: none !important;
}

.scrollbar {
  overflow-y: scroll;
  margin: 1rem;
  margin-right: 0;
  width: 95%;
  height: 300px;
}

.scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);     */
  background-color: transparent !important;
}

.scrollbar::-webkit-scrollbar {
  display: block;
  background-color: transparent !important;
  width: 3px !important;
  height: 30px !important;
  border-radius: 8px !important;
  transform: rotate(-180deg) !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primaryBackground) !important;
}

/* Select Network Scrollbar */

.network-scrollbar {
  overflow-y: scroll;
  margin: 1rem;
  margin-right: 0;
  width: 95%;
}

.network-scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);     */
  background-color: transparent !important;
  margin-top: 80px;
}

.network-scrollbar::-webkit-scrollbar {
  display: block;
  background-color: transparent !important;
  /* width: 6px !important; */
  border-radius: 0 !important;
  transform: rotate(-180deg) !important;
}

.network-scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: var(--primaryBackground) !important;
}

.network-scrollbar::-webkit-scrollbar-button {
  min-height: 5px !important;
}

.warning-modal-style {
  border: 0.8px solid var(--primaryBackground);
  box-sizing: border-box;
  box-shadow: 0 0 20px 7px var(--boxShadowColor);
  border-radius: 6px;
  margin: 200px auto;
  width: 100%;
  max-width: 290px;
  padding: 22px 1.3rem !important;
  text-align: left !important;
  position: relative;
}

.cross-close {
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.select-network-modal-style {
  outline: none;
  border: 0.8px solid var(--primaryBackground) !important;
  box-sizing: border-box;
  box-shadow: 0px 2px 20px 5px var(--boxShadowColor);
  border-radius: 8px;
  margin: 70px auto;
}

.auth-modal {
  width: 78%;
  background: #141414;
}

.txDetails-modal-style {
  border: 0.8px solid var(--primaryBackground);
  box-sizing: border-box;
  box-shadow: 0px 2px 20px 5px var(--boxShadowColor);
  border-radius: 8px;
  margin: 50px auto;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: var(--primaryBackground);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Arrow ToolTip */
.tooltip {
  position: relative;
  display: inline-block;
  /* border: 1px solid #777777 !important; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  /* padding: 1rem; */
  background-color: var(--tooltipColor) !important;
  border: 1.09px solid var(--tooltipBorderColor) !important;
  box-shadow: 0px 18.5334px 37.0668px rgba(0, 0, 0, 0.2) !important;
  border-radius: 9.71px !important;
  color: #fafafa;
  text-align: center;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: -130%;
  margin-left: 0.3rem;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 17%;
  border-radius: 2px;
  margin-left: -6px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--tooltipColor) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ----------------- */

/* Main Card Tooltip */
.main-card-tooltip {
  position: relative;
  display: inline-block;
  /* border: 1px solid #777777 !important; */
}

.main-card-tooltip .main-card-tooltiptext {
  visibility: hidden;
  width: 100px;
  /* padding: 1rem; */
  background-color: var(--tooltipColor) !important;
  border: 1.09px solid var(--tooltipBorderColor) !important;
  box-shadow: 0px 18.5334px 37.0668px rgba(0, 0, 0, 0.2) !important;
  border-radius: 9.71px !important;
  color: #fafafa;
  text-align: center;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 150%; */
  left: -130%;
  /* top: -35px; */
  margin-left: -0.3rem;
  margin-bottom: 0.2rem;
}

.main-card-tooltip .main-card-tooltiptext::after {
  content: '';
  position: absolute;
  top: 27px;
  left: 17%;
  border-radius: 2px;
  margin-left: -3px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--tooltipColor) transparent transparent transparent;
}

.main-card-tooltip:hover .main-card-tooltiptext {
  visibility: visible;
}

/* ---------------------------- */

/* Top Arrow Tooltip */

.topTooltip {
  position: relative;
  display: inline-block;
}

.topTooltip .topTooltiptext {
  visibility: hidden;
  width: 90%;
  background-color: var(--tooltipColor) !important;
  border: 1.09px solid var(--tooltipBorderColor) !important;
  box-shadow: 0px 18.5334px 37.0668px rgba(0, 0, 0, 0.2) !important;
  border-radius: 9.71px !important;
  color: #fafafa;
  text-align: center;
  border-radius: 6px;
  padding: 0 2px !important;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 110px;
  margin-left: -60px;
  font-size: 0.7rem;
  font-weight: 300;
}

.topTooltip .topTooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltipColor) transparent;
}

.topTooltip:hover .topTooltiptext {
  visibility: visible;
}

/* ------------------------ */
/* Normal Tooltip */
.normalTooltip {
  position: relative;
  display: inline-block;
}

.normalTooltip .normalTooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: var(--tooltipColor) !important;
  border: 1.09px solid var(--tooltipBorderColor) !important;
  box-shadow: 0px 18.5334px 37.0668px rgba(0, 0, 0, 0.2) !important;
  color: #fafafa;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -58px;
}

.normalTooltip .normalTooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltipColor) transparent transparent transparent;
}

.normalTooltip:hover .normalTooltiptext {
  visibility: visible;
}
/* ---------------------- */

.d-none {
  display: none;
}

.border-white {
  border: 1px solid white;
}

.wave {
  animation: wave 1.5s infinite linear forwards;
  -webkit-animation: wave 1.5s infinite linear forwards;
  background: rgba(196, 196, 196, 0.4);
  background: linear-gradient(to right, #8f898966 8%, #a6b5b6 18%, #88878a 33%);
  background-size: 800px 104px;
}

@keyframes wave {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes wave {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.MuiMenuItem-root:hover {
  background: rgba(46, 155, 155, 0.26) !important;
}

.Dark-bg-network {
  background-color: rgba(33, 33, 33, 0.6);
}
