/* hiding scrollbar in chrome */
::-webkit-scrollbar {
  opacity: 0;
}
/* hiding scrollbar in firefox */
* {
  scrollbar-width: none;
}

/* getting font family */
@font-face {
  font-family: 'RobotoB';
  src: local('Roboto'), url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'RobotoR';
  src: local('Roboto'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

/* creating classess for font family we just imported above */
.font-face-robotoB {
  font-family: 'RobotoB';
}
.font-face-robotoR {
  font-family: 'RobotoR';
}

body {
  width: 560px;
  /* height: 600px; */
  min-height: 600px;
  max-height: 870px;

  margin: 0;
  background-color: rgba(20, 20, 20);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-bg-color {
  background: radial-gradient(
      40.36% 71% at 18.57% 29%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 79.17%,
      rgba(255, 255, 255, 0) 96.87%
    ),
    radial-gradient(
      89.64% 128.83% at 22.5% 26%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(20, 20, 20, 0) 67.09%,
      rgba(20, 20, 20, 0) 100%
    ),
    #880041 !important;
}

.secondary-bg-color {
  background-color: greenyellow;
}
