@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* hiding scrollbar in chrome */
::-webkit-scrollbar {
  display: none;
}
/* hiding scrollbar in firefox */
*,
html,
body {
  scrollbar-width: none;
}
/* getting font family */
/* @font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
} */

/* creating classess for font family we just imported above */
.font-face-robotoB {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.font-face-robotoR {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 550px) {
  html {
    font-size: 23px;
  }
}

body {
  width: 357px;
  min-height: 600px;
  max-height: 870px;
  font-size: 16ox;
  margin: 0 auto;
  background-color: rgba(20, 20, 20);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-bg-color {
  background: radial-gradient(
      40.36% 71% at 18.57% 29%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 79.17%,
      rgba(255, 255, 255, 0) 96.87%
    ),
    radial-gradient(
      89.64% 128.83% at 22.5% 26%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(20, 20, 20, 0) 67.09%,
      rgba(20, 20, 20, 0) 100%
    ),
    #880041 !important;
}

.secondary-bg-color {
  background-color: greenyellow;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::placeholder {
  color: #fafafa;
  opacity: 0.6; /* Firefox */
}

input:focus {
  outline: none !important;
}

.warning-modal-style {
  border: 0.8px solid rgb(136, 0, 65);
  box-sizing: border-box;
  box-shadow: 1px 2px 20px 20px rgba(136, 0, 65, 0.12);
  border-radius: 8px;
  margin: 200px auto;
  width: 100%;
  max-width: 350px;
  padding: 1.6rem 1.3rem !important;
  text-align: left !important;
  position: relative;
}

.cross-close {
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.select-network-modal-style {
  border: 0.8px solid #880041;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 5px rgba(136, 0, 65, 0.12);
  border-radius: 8px;
  margin: 70px auto;
}

.txDetails-modal-style {
  border: 0.8px solid #880041;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 5px rgba(136, 0, 65, 0.12);
  border-radius: 8px;
  margin: 50px auto;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

::selection {
  background-color: #880041;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #fafafa;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 10%; /* At the bottom of the tooltip */
  left: 63%;
  margin-left: -5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.d-none {
  display: none;
}

.border-white {
  border: 1px solid white;
}
