/* @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/fonts/Roboto-Bold.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */

@font-face {
  font-family: 'RobotoB';
  src: local('Roboto'), url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoR';
  src: local('Roboto'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.font-face-robotoB {
  font-family: 'RobotoB';
}

.font-face-robotoR {
  font-family: 'RobotoR';
}
* {
  scrollbar-width: none; /* Firefox implementation */
}

body {
  width: 560px;
  height: auto;
  min-height: 600px;
  max-height: 870px;

  margin: 0;
  background-color: rgba(20, 20, 20);
  /* overflow: hidden; Hide scrollbars */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Hide scrollbar for IE, Edge and Firefox */
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.primary-bg-color {
  background: radial-gradient(
      40.36% 71% at 18.57% 29%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 79.17%,
      rgba(255, 255, 255, 0) 96.87%
    ),
    radial-gradient(
      89.64% 128.83% at 22.5% 26%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(20, 20, 20, 0) 67.09%,
      rgba(20, 20, 20, 0) 100%
    ),
    #880041 !important;
}

.secondary-bg-color {
  background-color: greenyellow;
}
